:root {
  /* This is our primary theme color. */
  --color: #003399;
}
* {
  border: 1px solid var(--color);
  margin: 0;
  padding: 0;
}
.container {
  min-height: 100vh;
  max-height: 100vw;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.flex-box {
  
}
/*--- SECTIONS ---*/
#header, nav, main, #footer {
  flex: 0 0 100%;
}
/* HEADER */
#header {
  min-height: 15vh; 
}
/* NAVIGATION BAR */
nav {
  min-height: 5vh;
}
/* CONTENT */
main {
  min-height: 30vh; 
}
/* FOOTER */
#footer {
  min-height: 5vh; 
}
