:root {
  /* This is our primary theme color. */
  --color: #003399;
  --hue: 200;
  --saturation: 120;
  --lightness: 20;
  
  --color-light: hsl(var(--hue), var(--saturation), 30);
  --color-dark: hsl(var(--hue), var(--saturation), 10);
}
* {
  background-color: var(--color-light);
  border: 1px solid var(--color);
}
.flex-container {
  display: flex;
}
.flex-box {
  flex: 1 0 auto;
}
/*--- SECTIONS ---*/
#header, nav, main, #footer {
  flex: 0 0 100%;
}
/* HEADER */
#header {
  min-height: 15vh; 
}
/* NAVIGATION BAR */
nav {
  min-height: 5vh;
}
/* CONTENT */
main {
  flex-grow: auto;
  min-height: 30vh; 
}
/* FOOTER */
#footer {
  min-height: 5vh; 
}
